@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
:root {
    // --background: #fcdf12;
    --background: #fadb14;
    --contrast: rgba(24, 24, 24, 1);
    --text1: white;
    --text2: rgba(24, 24, 24, 1);
    // --background: rgba(4, 4, 4, 0.25);
    // --text1: black;
}

* {
    /* border: 1px solid blue; */
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100%;
    background-color: var(--background);
}

.outer {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background);
}

.cover-image {
    width: 64%;
    height: 100vh;
    display: none;
    background-color: var(--contrast);
    color: var(--background);
}

.cover-image img {
    width: calc(64vw);
}

.yellow {
    height: 90px;
    width: 100%;
    background-color: var(--background);
}

.footer {
    width: 36%;
    height: 64px;
    display: none;
    background-color: var(--contrast);
    position: absolute;
    bottom: 0;
}

.heading {
    width: 100%;
    background-color: var(--background);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
    color: var(--text2);
    text-align: left;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.by-line {
    margin-bottom: 60px;
}

.instruction {
    margin-top: 20px;
    margin-bottom: 10px;
}

.sub-heading {
    margin-bottom: 40px;
    text-align: center;
}

.sendBtn,
.receiveBtn {
    width: 160px;
}

.pairing-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.refresh-otp {
    width: 140px;
    height: 40px;
    border-radius: 4px;
    // margin-bottom: 40px;
    border: none;
    // border-bottom: 1px solid grey;
    /* box-shadow: 0px 2px 4px grey; */
}

input[type="text"] {
    width: 140px;
    height: 40px;
    border: none;
    background-color: rgba(253, 253, 14, 0);
    border-bottom: 1px solid var(--contrast);
    /* text-align: left; */
    /* font-size: 28px; */
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
}

#otp {
    text-align: center;
    color: var(--text2);
    position: absolute;
    top: 232px;
}

#otp:focus {
    font-size: 2em;
    /* margin-block-start: 0.67em; */
    /* margin-block-end: 0.67em; */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.otp {
    position: absolute;
    top: 232px;
    margin: 0 0 0 10px;
    color: var(--text2);
}

.label-OTP-input {
    display: flex;
    justify-content: center;
}

input[type="submit"],
button {
    min-width: 140px;
    height: 40px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: none;
    // border-bottom: 1px solid grey;
    padding: 0 20px;
    /* box-shadow: 0px 2px 4px grey; */
    cursor: pointer;
    background-color: var(--contrast);
    color: var(--text1);
}

button {
    margin: 20px 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button:focus,
input:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

.custom-file-input {
    border: none;
    border-radius: 4px;
    /* background-color: rgba(81, 174, 250, 0.95); */
    background-color: var(--contrast);
    color: var(--text1);
    text-align: center;
    cursor: pointer;
    padding: 0px 28px;
    position: relative;
    top: 16px;
    height: 60px;
    width: 200px;
    padding-top: 36px;
}

#file-uploaded {
    background-color: rgba(253, 253, 14, 0);
    color: var(--text2);
    margin-top: -66px;
}

#dialog-footer {
    margin-top: 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#select-file {
    text-align: center;
}

#pairBtn {
    position: absolute;
    top: 280px;
}

.choiceBtns {
    // position: absolute;
    // top: 260px;
    margin-top: 100px;
}

.refresh-otp {
    position: absolute;
    top: 258px;
}

.extra-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fileIcon img {
    height: 40px;
}

.fileShare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
}

.downloadFile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkShare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    // position: absolute;
    // bottom: 50px;
    height: 120px;
    margin-top: -30px;
}

.linkToSend-label {
    margin-bottom: -8px;
    width: 280px;
}

#link {
    width: 280px;
}

.linkToSend-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.shareLink {
    border: none;
    border-radius: 4px;
    /* background-color: rgba(81, 174, 250, 0.95); */
    background-color: var(--contrast);
    color: var(--text1);
    text-align: center;
    cursor: pointer;
    padding: 0px 28px;
    position: relative;
    top: 16px;
    height: 60px;
    width: 200px;
    padding-top: 36px;
}

.shareLink:hover {
    color: var(--background);
}

.custom-file-input:hover {
    color: var(--background);
}

button:hover,
input[type="submit"]:hover {
    color: var(--background);
}

a {
    color: var(--text2);
}

a:hover {
    color: var(--text1);
}

a:active {
    outline: none;
    border: none;
}

.itemsReceived {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 150px;
    margin-top: 44px;
}

.inbox {
    border: 4px solid var(--contrast);
    border-radius: 4px;
    text-align: center;
    cursor: default;
    position: relative;
    top: 16px;
    height: 100%;
    width: 250px;
    padding-top: 0px;
}

.linkReceived {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -12px;
    overflow: hidden;
    font-size: 13.3px;
}

.linkReceived a {
    width: 90%;
    border-bottom: none;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: -12px;
    overflow: hidden;
    font-size: 13.3px;
}

.linkReceived a:hover {
    background-color: var(--contrast);
}

.noFile {
    background-color: rgba(4, 4, 4, 0);
    color: var(--text2);
    cursor: default;
}

.noFile:hover {
    color: var(--text2);
}

#inbox {
    background-color: var(--contrast);
    color: white;
    height: 20px;
    padding: 4px 0;
    margin-bottom: 12px;
}

#disconnect {
    background-color: rgba(4, 4, 4, 0);
    color: var(--contrast);
    margin: 0;
    cursor: pointer;
}

#disconnect:hover {
    background-color: var(--contrast);
    color: var(--text1);
}


/* ################################### */

// about info
.aboutInfo {
    padding: 40px;
    color: var(--background);
    margin-top: 86px;
}

#title,
#el-pitch,
#list,
#startby,
#more-info {
    margin-bottom: 30px;
}

#list li {
    margin: 10px 0 0 30px;
    font-size: 20px;
}

#startby {
    margin-top: 60px;
    font-size: 20px;
}

#more-info {
    margin-top: 60px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}


/* ################################### */

// animation
.user-visual {
    position: relative;
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 18px;
    background-color: var(--contrast);
    border: solid 1px transparent;
    color: var(--text1);
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    &:hover {
        background-color: transparent;
        border-color: var(--text1);
        transition: all 0.1s ease-in-out;
    }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 30px auto 0 auto;
    border: solid 2px var(--text1);
    border-top: solid 2px var(--contrast);
    border-radius: 50%;
    opacity: 0;
    // margin-bottom: 34px;
}

.check {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate3d(-4px, 50px, 0);
    opacity: 0;
    span:nth-child(1) {
        display: block;
        width: 10px;
        height: 2px;
        background-color: var(--contrast);
        transform: rotate(45deg);
    }
    span:nth-child(2) {
        display: block;
        width: 20px;
        height: 2px;
        background-color: var(--contrast);
        transform: rotate(-45deg) translate3d(14px, -4px, 0);
        transform-origin: 100%;
    }
}

.loader.active {
    animation: loading 2s ease-in-out;
    animation-fill-mode: forwards;
}

.check.active {
    opacity: 1;
    transform: translate3d(-4px, 4px, 0);
    transition: all 0.5s cubic-bezier(0.49, 1.74, 0.38, 1.74);
    transition-delay: 0.2s;
}

@keyframes loading {
    30% {
        opacity: 1;
    }
    85% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: var(--text1);
    }
    100% {
        opacity: 1;
        transform: rotate(1080deg);
        border-color: var(--contrast);
    }
}


/* ################################### */

// media query
// mobile
@media only screen and (max-width: 600px) {
    .linkShare {
        margin-top: -40px;
    }
    .itemsReceived {
        margin-top: 32px;
    }
}

//laptop
@media only screen and (min-width: 600px) {
    .container {
        width: 36%;
        min-width: 420px;
    }
    .cover-image {
        display: inline;
    }
    .footer {
        display: inline;
    }
}